/pom.xml
*jar
/lib
/classes
/.clojurescript-output
/.lein-cljsbuild-compiler-0/**/*
.lein-cljsbuild-compiler-0/
.lein-plugins/
resources/public/js/cljs.js
dump.rdb
/native
/.lein-failures
/checkouts
/.lein-deps-sum
